.bg-light {
    background-color: #white;
}

h5{
    margin: 30px 0px 10px 0px;

}

h6{
    color: blue;
    margin-bottom: 30px;

}

.navbar-light .navbar-nav .nav-link {
    color: #0062cc;
}

h4{
    color: blue;
    margin-top: 25px;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

h2{
    color: green;
}
h3{
    color: blue;
}

.navbar-light .navbar-brand {
    color: #0062cc;
}
element.style {
    font-style: italic;
}

.navbar-light .navbar-brand {
    color: #0062cc;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #f8f9fa;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.footer{
 background-color: white;
}

.lust{
 background-color: black;
 color: white;
}

.lost{
 background-color: black;
 color: white;
}

.last{
 background-color: 
 color: white;
}
